services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: workdb
      POSTGRES_USER: workuser
      POSTGRES_PASSWORD: workpass
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: backend
    volumes:
      - ./backend:/app/backend
      - static_volume:/app/backend/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_NAME: workdb
      DB_USER: workuser
      DB_PASSWORD: workpass
      DB_HOST: db
      DB_PORT: 5432
      DEBUG: "True"
      SECRET_KEY: your-secret-key-here
      ALLOWED_HOSTS: localhost,127.0.0.1,backend
    networks:
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://backend:8000/api
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - backend

volumes:
  pg_data:
  static_volume:

networks:
  backend:
